In [5]:
import pandas as pd
import numpy as np
from kafka import KafkaConsumer
from kafka import TopicPartition
from kafka import KafkaProducer
import json 
import time
#import requests
df = pd.read_csv('C:/Projet/tweets.csv',header=None, encoding = "ISO-8859-1")
df.head(5)

,0,1,2,3
0,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [6]:
producer = KafkaProducer(bootstrap_servers = '192.168.99.100:29092')
#producer.send('raw_tweets', value=df.iloc[2].to_string().encode('UTF-8'))

for i in range(df.shape[0]):
    producer.send('raw_tweets', value=df.iloc[i].to_string().encode('UTF-8'))
    time.sleep(3)

KeyboardInterrupt: